/* d-sm-flex align-items-center justify-content-betwee */
.homecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    padding: 10px;
    margin: 5%;

}