.navbar {
       position: relative;
       display: flex;
       flex-wrap: wrap;
       align-items:flex-end;
       justify-content:end;
       padding-top: 1rem;
       padding-bottom: 0.5rem;
     }
     .link{
        padding: 6px;
     }
     .topHeader{
       align-content: flex-end;
       background-color: rgb(209, 229, 246);
     }
